.ModalAddSbt{
    .ant-modal-close{
        width: 33px;
        height: 33px;
        .ant-modal-close-x{
            font-size: 18px;   
            color: #0D0D0D;
        }
    }
    .ant-modal-content{
        padding: 44px 65px 36px !important;
    }
    .title{
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
    }
    .search{
        display: flex;
        justify-content: space-between;
        .inner{
            width: 100%;
            height: 50px;
            display: flex;
            gap: 20px;
            .ant-select{
                padding-left: 20px;
                border-radius: 10px;
                border: 1px solid #D8D8D8;
                display: flex;
                align-items: center;
                .img{
                    width: 26px;
                    height: 26px;
                }
                .ant-select-selector{
                    padding: 0;
                    border: 1px solid #000;
                }
                .label{
                    padding-right: 15px;
                }
                .ant-select-selection-item{
                    padding-right: 35px;
                }
                .ant-select-arrow{
                    right: 20px;
                    color: #000;
                }
            }
            .input{
                width: 100%;
                border: 1px solid #D8D8D8;
                border-radius: 10px;
                position: relative;
                input{
                    height: 100%;
                    padding-left: 45px;
                    font-size: 15px;
                }
                .icon{
                    position: absolute;
                    left: 17px;
                    top: 0px;
                    color: #BABABA;
                    font-size: 14px;
                    line-height: 50px;
                }
            }
        }
    }
    .content{
        height: 500px;
        margin-top: 50px;
        overflow-y: scroll;
        .list-content{
            flex-wrap: wrap;
            display: flex;
            gap: 20px 17px;
        }
        .box-active, .box:hover{
            .checkbox{
                display: block !important;
            }
        }
        .box{
            width: 166px;
            height: 222px;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            border: 1px solid #F0F0F0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .checkbox{
                width: 32px;
                height: 29px;
                border: 1px solid #CECECE;
                border-bottom: none;
                border-right: none;
                position: absolute;
                right: 0;
                bottom: 0;
                display: none;
                text-align: center;
                line-height: 29px;
                color: #07A35A;
            }
            .img{
                width: 100%;
                height: 164px;
                overflow: hidden;
            }
            p{
                width: 100%;
                padding: 10px;
                color: #17151C;
                font-size: 12px;
                line-height: 14px;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
            }
            .badge{
                width: 34px;
                height: 34px;
                border-radius: 50%;
                position: absolute;
                right: 3px;
                top: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                font-size: 16px;
                background-color: rgba(255,255,255,0.6);
                opacity: 0;
                transition: opacity 0.3s;
            }
            .show{
                background-color: rgba(0,0,0,0.3);
                color: #fff;
            }
            &:hover .badge, .show{
                opacity: 1;
            }
        }
    }
    .confirm{
        width: 266px;
        height: 50px;
        margin-top: 35px;
        border-radius: 10px;
        border: 1px solid #8F5A35;
        color: #8F5A35;
        font-size: 14px;
        line-height: 16px;
        position: relative;
        left: calc((100% - 266px) / 2);
    }
}

.dropdownMenu{
    font-size: .5625rem;
    .label{
        font-size: .5625rem;
    }
}

.ModalAddSbt-mobile{
    .ant-modal-close{
        width: 33px;
        height: 33px;
        .ant-modal-close-x{
            font-size: 33px;   
            color: #272536;
        }
    }
    .ant-modal-content{
        padding: 50px 40px;
    }
    .ant-modal-body{
    }
    .title{
        margin-bottom: 33px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
    }
    .search{
        display: flex;
        justify-content: space-between;
        .inner{
            width: 873px;
            height: 35px;
            display: flex;
            border-radius: 17.5px;
            border: 2px solid #BABABA;
            .ant-select-selector{
                padding: 0;
                padding-inline: 20px 0px;
            }
            .ant-select-arrow{
                margin-right: 20px;
            }
            .input{
                width: calc(100% - 180px);
                border-left: 2px solid #BABABA;
                position: relative;
                input{
                    padding-left: 57px;
                }
                .icon{
                    position: absolute;
                    left: 18px;
                    top: 0px;
                    color: #BABABA;
                    font-size: 25px;
                    line-height: 31px;
                }
            }
        }
        .confirm{
            height: 35px;
            padding: 0;
            padding-inline: 25px;
            border: 2px solid #BABABA;
            border-radius: 17.5px;

            color: #9E9E9E;
            font-size: 18px;
            line-height: 31px;
        }
    }
    .content{
        height: 776px;
        overflow-y: scroll;
        .list-content{
            flex-wrap: wrap;
            display: flex;
            gap: 45px;
        }
        .box-active, .box:hover{
            .checkbox{
                display: block !important;
            }
        }
        .box{
            width: 210px;
            height: 210px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 1px solid #CECECE;
            &:nth-child(4n){
                margin-right: 0;
            }
            .checkbox{
                width: 32px;
                height: 29px;
                border: 1px solid #CECECE;
                border-bottom: none;
                border-right: none;
                position: absolute;
                right: 0;
                bottom: 0;
                display: none;
                text-align: center;
                line-height: 29px;
                color: #07A35A;
            }
            .img{
                width: 107px;
                height: 107px;
                margin-top: 20px;
                overflow: hidden;
            }
            p{
                width: 100%;
                padding-inline: 10px;
                color: #17151C;
                font-size: 16px;
                font-weight: 900;
                line-height: 29px;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
            }
        }
    }
}