.Mobile{
    #Header,#Header-bg{
        .header-content{
            width: 100%;
            height: 60px;
            padding-inline: 15px;
        }
        .nav-left > a{
            display: none;
        }
        .logo{
            width: 150px;
            height: 30px;
        }
        .user{
            height: 32px;
            padding-right: 10px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                width: 28px;
                height: 28px;
                margin-left: 2px;
                overflow: hidden;
                border-radius: 50%;
                background-color: yellowgreen;
            }
            p{
                margin-left: 10px;
            }
        }
        
    }
    #Header{
        background-color: #fff;
        border-bottom: 1px solid #D8D8D8;
        &,.nav-left a{
            color: #000;
        }
        .user{
            color: #fff;
            background-color: #000;
        }
    }
    #Header-bg{
        background-color: rgba(0,0,0,0.5);
        &,.nav-left a, .lang{
            color: #fff;
        }
        .user{
            color: #000;
            background-color: #fff;
        }
    }

    #Footer{
        display: none;
    }
}