# WalletConnect 项目ID，使用 WalletConnect 时需要
REACT_APP_PROJECT_ID=""

# 后端 API 地址
REACT_APP_BASE_URL=""

# NFT 索引 API 地址
REACT_APP_NFT_BASE_URL=""

# 挑战内容加密密钥
REACT_APP_ANSWERS_KEY=""

# 合约地址 v1
REACT_APP_CONTRACT_BADGE_ADDRESS_V1="0x66C54CB10Ef3d038aaBA2Ac06d2c25B326be8142"
REACT_APP_CONTRACT_QUEST_ADDRESS_V1="0x020ef5c45182019A5aa48A8dD089a3712ad491b4"
REACT_APP_CONTRACT_QUESTMINTER_ADDRESS_V1="0xEdC46868f04d482f04A8c29E915aBED72C03cD35"

# 合约地址 v2
REACT_APP_CONTRACT_BADGE_ADDRESS="0x9DfD385A4A9e1410D10984167a3087BaA09c1013"
REACT_APP_CONTRACT_BADGEMINTER_ADDRESS="0x34696018d3BAD773fe46E8a35740331fF4bF4370"
REACT_APP_CONTRACT_QUEST_ADDRESS="0xCEFDA32e7012AfaFc5938385a22C5A7d9Bdf07D2"
REACT_APP_CONTRACT_QUESTMINTER_ADDRESS="0xb4180F5BFEf93f3c5E2C9F7FDb71676864FEEbD7"


# 用户绑定地址 Discord 认证频道
REACT_APP_DISCORD_VERIFY_CHANNEL_INVITE_CODE=""

# 可选配置

# 是否测试环境，默认为false
# REACT_APP_IS_DEV=false

# infura key，连接 EVM 区块链节点，默认为公开节点
# REACT_APP_INFURA_API_KEY=""

# 链ID，默认为 137（Polygon）,isDev=true 时为 80001（mumbai）
# REACT_APP_CHAIN_ID=""

# ipfs网关，默认为: "https://nftscan.mypinata.cloud/ipfs/"
# REACT_APP_IPFS_GATEWAY=""

# SENTRY，需要集成 SENTRY 时配置
# REACT_APP_SENTRY_KEY=""
# REACT_APP_SENTRY_TRACES=1.0
# REACT_APP_SENTRY_REPLAYS_SESSION=1.0
# REACT_APP_SENTRY_REPLAYS_ON_ERROR=1.0