# WalletConnect 项目ID，使用 WalletConnect 时需要
REACT_APP_PROJECT_ID=""

# 后端 API 地址
REACT_APP_BASE_URL=""

# NFT 索引 API 地址
REACT_APP_NFT_BASE_URL=""

# 挑战内容加密密钥
REACT_APP_ANSWERS_KEY=""

# 用户绑定地址 Discord 认证频道
REACT_APP_DISCORD_VERIFY_CHANNEL_INVITE_CODE=""

# particle 三方登录AppID
REACT_APP_APP_ID="7d5de8a5-c161-4241-a3c3-e05022b1acd4"

# 可选配置

# 是否测试环境，默认为false
# REACT_APP_IS_DEV=false

# infura key，连接 EVM 区块链节点，默认为公开节点
# REACT_APP_INFURA_API_KEY=""

# 链ID，默认为 137（Polygon）,isDev=true 时为 80001（mumbai）
# REACT_APP_CHAIN_ID=""

# ipfs网关，默认为: "https://nftscan.mypinata.cloud/ipfs/"
# REACT_APP_IPFS_GATEWAY=""

# SENTRY，需要集成 SENTRY 时配置
# REACT_APP_SENTRY_KEY=""
# REACT_APP_SENTRY_TRACES=1.0
# REACT_APP_SENTRY_REPLAYS_SESSION=1.0
# REACT_APP_SENTRY_REPLAYS_ON_ERROR=1.0