REACT_APP_BASE_URL="http://192.168.1.10"
REACT_APP_DEVELOP_BASE_URL="http://192.168.1.10"
REACT_APP_BASE_API=""
REACT_APP_UPLOAD="/v1/upload"
REACT_APP_NFT_BASE_URL=""
REACT_APP_NFT_API="/v1/account"

REACT_APP_ANSWERS_KEY=""
REACT_APP_CHAIN_ID="5"
REACT_APP_DISCORD_VERIFY_INVITE_LINK=""
REACT_APP_DISCORD_VERIFY_CHANNEL_INVITE_LINK=""
REACT_APP_CONTRACT_BADGE_ADDRESS=""
REACT_APP_CONTRACT_QUESTMINTER_ADDRESS=""
REACT_APP_OPENSEA_LINK="https://testnets.opensea.io"

REACT_APP_IPFS_GATEWAYS='["ipfs.io"]'
REACT_APP_IPFS_TEPL=""