$container-width: 93vw;
.Mobile{
    .Challenge{
        width: $container-width;
        margin: 80px auto 0;
        min-height: 100vh;
        padding-bottom: 100px;
        .preview-head{
            margin-bottom: 50px;
            text-align: center;
            position: relative;
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
            .btns{
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
            }
            button{
                min-width: 100px;
                height: 40px;
                margin-left: 20px;
                border-radius: 0;
                border-color: #000;
                font-size: 16px;
                line-height: 23px;
                
            }
            .btn-exit{
                border: none;
                box-shadow: none;
                font-size: 20px;
                display: flex;
                align-items: center;
                .icon{
                    font-size: 24px;
                }
            }
        }
        .title{
            font-size: 16px;
            span{
                font-size: 20px;
            }
            p{
                margin-left: 20px;
            }
        }
        .content{
            height: calc(100vh - 390px);
            padding: 11px 18px 70px;
            margin-block: 10px; 
            border: 1px solid #DCDCDC;
            h4{
                margin-bottom: 8px;
                font-size: 16px;
                font-weight: 500;
                line-height: 23px;
            }
            .inner-title{
                line-height: 29px;
                font-size: 16px;
            }
        }
        .progress{
            width: $container-width;
            margin: 0 auto;
        }
    }
    .CustomInput .custom-input{
        font-size: 18px;
    }
    .CustomRadio{
        .ant-radio-wrapper{
            margin-bottom: 25px;
            font-size: 12px;
            line-height: 17px;
        }
        .ant-radio-inner{
            width: 22px;
            height: 22px;
        }
        .ant-radio{
            margin-right: 11px;
        }
    }
    .CustomCheckbox{
        .ant-checkbox-wrapper{
            margin-bottom: 25px;
            font-size: 12px;
            line-height: 17px;
        }
        .ant-checkbox-wrapper .ant-checkbox{
            margin-right: 10px;
        }
        .ant-checkbox, .ant-checkbox-inner{
            width: 22px;
            height: 22px;
        }
    }
    .CustomPagination{
        .btn{
            width: 28px;
            height: 28px;
            font-size: 19px;
            margin-inline: 10px;
        }
        .submit{
            width: 78px;
            height: 30px;
            margin-left: 13px;
            font-size: 12px;
        }
    }
}