$container-width: 93vw;
.Mobile{
    .Challenge{
        width: $container-width;
        margin: 5rem auto 0;
        min-height: 100vh;
        padding-bottom: 6.25rem;
        .preview-head{
            margin-bottom: 3.125rem;
            text-align: center;
            position: relative;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.8125rem;
            .btns{
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
            }
            button{
                min-width: 6.25rem;
                height: 2.5rem;
                margin-left: 1.25rem;
                border-radius: 0;
                border-color: #000;
                font-size: 1rem;
                line-height: 1.4375rem;
                
            }
            .btn-exit{
                border: none;
                box-shadow: none;
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                .icon{
                    font-size: 1.5rem;
                }
            }
        }
        .title{
            font-size: 1rem;
            span{
                font-size: 1.25rem;
            }
            p{
                width: 16.5rem;
                margin-left: 1.25rem;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
            }
        }
        .content{
            height: auto;
            padding: .6875rem 1.125rem 4.375rem;
            margin-top: .625rem;
            margin-bottom: .625rem;
            border: none;
            .challenge-title{
                margin-bottom: .5rem;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.4375rem;
            }
            .inner-title{
                line-height: 1.8125rem;
                font-size: 1rem;
            }
        }
    }
    .CustomInput .custom-input{
        font-size: 1.125rem;
    }
    .CustomRadio{
        .ant-radio-wrapper{
            margin-bottom: 1.5625rem;
            font-size: .75rem;
            line-height: 1.0625rem;
        }
        .ant-radio-inner{
            width: 1.375rem;
            height: 1.375rem;
        }
        .ant-radio{
            margin-right: .6875rem;
        }
    }
    .CustomCheckbox{
        .ant-checkbox-wrapper{
            margin-bottom: 1.5625rem;
            font-size: .75rem;
            line-height: 1.0625rem;
        }
        .ant-checkbox-wrapper .ant-checkbox{
            margin-right: .625rem;
        }
        .ant-checkbox, .ant-checkbox-inner{
            width: 1.375rem;
            height: 1.375rem;
        }
    }
    .progress{
        width: 100vw;
        z-index: 100;
        position: fixed;
        left: 0;
        bottom: 5.25rem;
        .ant-progress{
            margin: 0;
        }
    }
    .CustomPagination{
        width: 100vw;
        height: 5.25rem;
        padding: 1.0625rem 1.25rem 2.3125rem 1.5rem;
        margin: 0;
        z-index: 100;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #fff;
        .content-left{
            color: #3D3D3D;
        }
        .content-left, .content-right{
            width: calc((100vw - 2.75rem) / 4);
            display: flex;
        }
        .content-right{
            justify-content: flex-end;
        }
        .content-center{
            width: 7.5938rem;
            font-size: 1.125rem;
            justify-content: space-between;
            align-items: center;
            p span:first-child{
                color: #000000;
            }
        }
        .btn{
            min-width: 1.75rem;
            width: 1.75rem;
            height: 1.75rem;
            margin: 0;
            font-size: 1.1875rem;
        }
        .submit{
            width: 4rem;
            height: 1.875rem;
            padding: 0;
            margin-left: 0;
            font-size: .75rem;
        }
    }
}