$container-width: 90vw;
.Mobile{
    .Lesson{
        width: $container-width;
        margin: 5.625rem auto 0;
        padding-bottom: 6.25rem;
        .round{
            width: 18.75rem;
            height: 8.4375rem;
            left: calc((100% - 18.75rem) / 2);
            top: -9.6875rem;
        }
        .title{
            margin-bottom: 1.1875rem;
            font-size: 1.125rem;
            line-height: 1.625rem;
        }
        .content{
            flex-direction: column;
            gap: 0;
            a{
                margin-bottom: .625rem;
            }
            .box{
                width: 100%;
                min-height: 14.375rem;
                border-radius: .4375rem;
                .img{
                    height: 9.8125rem;
                }
                .box-content{
                    padding: .8125rem 1.5rem 1.25rem .875rem;
                    .box-title{
                        font-size: .8125rem;
                        line-height: 1.1875rem;
                    }
                    .box-desc{
                        font-size: .5rem;
                        line-height: .75rem;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }
}