$container-width: 89vw;
.Mobile{
    .Question{
        width: $container-width;
        margin: 4.6875rem auto 4.375rem;
        overflow: hidden;
        h1{
            margin-bottom: .875rem;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.625rem;
        }
        .content{
            flex-direction: column;
            padding-bottom: 3.125rem;
        }
        .content-right{
            width: 100%;
        }
        .title{
            font-size: 1.125rem;
            font-weight: 700;
            span{
                padding: .1875rem 1.375rem;
                margin-left: .75rem;
                font-size: .75rem;
                line-height: 1.0625rem;
                border-radius: .25rem;
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
        }   
    }
    // content-left
    .quest-title{
        .img{
            width: 21.625rem;
            height: 21.625rem;
            border-radius: 1.25rem;
        }
    }
    .quest-challenger{
        width: 100%;
        margin-top: 1.4375rem;
        padding-bottom: 2.5rem;
        border-bottom: .0625rem solid #D8D8D8;
        .list ul{
            margin-top: .8125rem;
            gap: .875rem 1.3125rem;
            li{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
    
    // content-right
    .quest-info{
        li{
            margin-bottom: 1.875rem;
            flex-direction: column;
            &:last-child{
                margin: 0;
            }
        }
        .info-content{
            width: 100%;
            min-height: 1.25rem;
            margin-top: 1.0625rem;
            padding-bottom: 1.125rem;
        }
        .img{
            width: 2.75rem;
            height: 2.75rem;
        }
        .mt13{
            margin-top: .3125rem;
        }
        .name{
            width: 15rem;
            font-size: .9375rem;
        }
        .time{
            font-size: .875rem;
            line-height: 1.25rem;
        }
        .recommend{
            width: 100%;
            height: 8.75rem;
            margin-top: 1rem;
        }
        .submit-bg{
            width: 100%;
            padding: .375rem 0 1.125rem;
            position: fixed;
            left: 0;
            bottom: 0;
            background-color: #fff;
            display: flex;
            justify-content: center;
        }
        .submit{
            width: $container-width;
            height: 3.75rem;
            font-size: 1.25rem;
        }
    }
    .info-top{
        height: auto;
        margin-top: .8125rem;
        overflow: hidden;
    }
    .info-bottom{
        margin-top: 2.5rem;
        li{
            margin-bottom: 2.1875rem;
        }
    }
}