$container-width: 350px;

.Mobile{
    .User{
        width: $container-width;
        padding-top: 100px;
    }
    .User-info{
        height: auto;
        padding-bottom: 55px;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .btn{
            width: 100%;
            height: 32px;
            border-radius: 8px;
            font-size: 12px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #fff;
            color: #8F5A35;
            border: 1px solid #8F5A35;
            .anticon-edit{
                font-size: 12px;
            }
        }
        .img{
            width: 96px;
            height: 96px;
            margin: 0;
            margin-bottom: 10px;
        }
        .info{
            text-align: center;
            .name{
                font-size: 26px;
                line-height: 26px;
            }
            .address{
                margin-top: 5px;
                font-size: 15px;
                line-height: 17px;
            }
            .social{
                margin-top: 5px;
                justify-content: center;
                .social-item{
                    height: 26px;
                    padding: 7px 16px 7px 10px;
                    font-size: 12px;
                }
                .icon{
                    width: 16px;
                    height: 12px;
                    margin-right: 10px;
                    margin-bottom: 0;
                    background-color: #00000000;
                }
            }
            .desc{
                max-width: 270px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    .User-list{
        margin-top: 50px;
        .challenge{
            margin-bottom: 15px;
            li{
                margin-right: 40px;
                font-size: 18px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .active{
                color: #000;
                cursor: auto;
            }
        }
        .status{
            li{
                margin-right: 35px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .User-content{
        padding-top: 27px;
        padding-bottom: 50px;
        gap: 10px;
        .nodata{
            width: 100%;
            height: 250px;
            p{
                margin-bottom: 14px;
                font-size: 12px;
                line-height: 17px;
            }
            .nodata-btn{
                height: 44px;
                padding: 13px 64px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}