.Mobile{
    .ChallengeItem{
        width: 100%;
        height: 7.8125rem;
        padding: .8125rem;
        border-width: .0625rem;
        border-radius: .3125rem;
        transition: none;
        pointer-events: none;
        .item-claimed, .item-claimable{
          width: 2.8125rem;
          height: 1.125rem;
          left: -0.0625rem;
          top: -0.0625rem;
          line-height: 1.125rem;
          font-size: .5rem;
          border-radius: .3125rem;
          border-bottom-left-radius: 0;
        }
        .left-info {
          width: calc(100% - 6.125rem - .625rem);
          .title {
            margin-bottom: .4375rem;
            font-size: .75rem;
            line-height: .875rem;
          }
          .desc{
            font-size: .5rem;
            line-height: .5625rem;
          }
          .sbt-detail{
            font-size: .5625rem;
            .ant-rate{
              font-size: .625rem;
            }
            .ant-rate-star:not(:last-child){
              margin-right: .1875rem;
            }
            .anticon-star{
              font-size: .625rem;
            }
            .mr12{
              margin-right: .3125rem;
            }
            .time{
              line-height: .625rem;
              .anticon{
                margin-right: .5rem;
                font-size: .5625rem;
              }
            }
          }
        }
        .right-sbt {
          width: 6.125rem;
          height: 6.125rem;
        }
    }
}