.ChallengeItem{
    width: 700px;
    height: 250px;
    padding: 26px;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715), border 0.3s linear 0.1s;
    position: relative;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.05);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
      .right-sbt .opensea{
        opacity: 1;
      }
    }
    .item-claimed, .item-claimable{
      width: 90px;
      height: 36px;
      color: #fff;
      position: absolute;
      left: -2px;
      top: -2px;
      text-align: center;
      line-height: 36px;
      font-size: 13px;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      z-index: 1;
    }
    .item-claimable{
      background-color: #43B472;
    }
    .item-claimed{
      background-color: #fff;
      color: #43B472;
      border: 1px solid #43B472;
    }
    .left-info {
      width: 420px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 28px;
        -webkit-line-clamp: 2;
      }
      .desc{
        color: #999999;
        font-size: 16px;
        line-height: 20px;
        -webkit-line-clamp: 3;
      }
      .sbt-detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-rate-star-full{
          color: #DD8C53;
        }
        .ant-rate-star-zero .ant-rate-star-second{
          color: #fff;
          filter: drop-shadow(0px 0px 1px #DD8C53)
        }
        .anticon-star{
          font-size: 21px;
        }
        .mr12{
          margin-right: 12px;
        }
        .time{
          color: rgba(0,0,0,0.5);
          line-height: 24px;
          display: flex;
          align-items: center;
          .anticon{
            margin-right: 12px;
            font-size: 18px;
          }
        }
      }
    }
    .right-sbt {
      width: 195px;
      height: 195px;
      overflow: hidden;
      position: relative;
      .img {
        width: 100%;
        height: 100%;
      }
      .opensea{
        width: 32px;
        height: 32px;
        position: absolute;
        right: 5px;
        top: 5px;
        opacity: 0;
        transition: opacity 0.2s;
      }
      .show{
        opacity: 1;
      }
    }
}