.ChallengeItem{
    width: 500px;
    height: 140px;
    padding: 17px;
    border: 1px solid #CECECE;
    display: flex;
    cursor: pointer;
    position: relative;
    .tags{
        padding-inline: 27px;
        padding-block: 5px 8px;
        position: absolute;
        right: 0;
        top: 0;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 17px;
        background-color: #f39d4c;
        border-bottom-left-radius: 15px;
    }
    .img{
        width: 107px;
        height: 107px;
        img{
            height: 100%;
        }
    }
    .content{
        width: calc(100% - 14px - 107px);
        margin-left: 14px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .flex{
            display: flex;
            justify-content: space-between;
            .icon{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
            }
            .date{
                display: flex;
                align-items: center;
                .icon{
                    width: 12px;
                    height: 12px;
                    margin-right: 12px;
                }
            }
        }
        .title{
            color: #17151C;
            font-size: 20px;
            font-weight: 900;
            line-height: 29px;
            white-space: nowrap;  
            text-overflow:ellipsis; 
            overflow:hidden;
        }
    }
}