.Cert{
    width: 1660px;
    min-height: 1080px;
    margin: 55px auto 0;
    display: flex;
}
.divider{
    width: 370px;
    margin-block: 33px;
    border-color: #D8D8D8;
}
.mt50{
    margin-top: 50px;
}
.Cert-sidbar{
    width: 410px;
    padding-right: 10px;
    padding-top: 20px;
    box-sizing: content-box;
    .search{
        .search-title{
            margin-bottom: 18px;
            font-size: 26px;
            font-weight: 600;
            line-height: 25px;
        }
        .search-inner{
            height: 50px;
            padding-block: 13px;
            padding-inline: 10px 18px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            border: 2px solid #000;
        }
        .icon{
            margin-right: 8px;
            font-size: 20px;
        }
        input{
            padding: 0;
            font-weight: 500;
        }
    }
    .user{
        width: 370px;
        display: flex;
        align-items: center;
        position: relative;
        .avatar > .img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .user-info{
            margin-left: 15px;
            .name{
                max-width: 200px;
                margin-bottom: 14px;
                font-size: 24px;
                font-weight: 500;
                line-height: 25px;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
                word-break: break-all;
            }
            .address{
                max-width: 200px;
                font-size: 18px;
                line-height: 25px;
                cursor: pointer;
            }
        }
        .share{
            width: 35px;
            height: 35px;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            box-shadow: none;
            border-radius: 4px;
            background-color: #E4E4E4;
            color: #E4E4E4;
            font-size: 23px;
            stroke: #999999;
            stroke-width: 23px;
            &:hover{
                background-color: #9999999a;
                color: #9999999a !important;
            }
        }
    }
    .nfts{
        width: 370px;
        .add{
            margin-bottom: 27px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
            }
            button{
                width: 40px;
                height: 40px;
                padding: 0;
                color: #fff;
                font-size: 20px;
                background-color: #4E7592;
                border: none;
            }
        }
        ul{
            .active,li:hover{
                background-color: rgba($color: #4e7592, $alpha: 0.1);
            }
            li{
                height: 50px;
                padding: 5px 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.2s;
                p{
                    font-size: 18px;
                    font-weight: 500;
                }
                .li-content{
                    max-width: calc(100% - 85px);                
                    white-space: nowrap;  
                    text-overflow:ellipsis; 
                    overflow:hidden;

                }
                .img{
                    width: 43px;
                    height: 43px;
                    margin-right: 12px; 
                    border-radius: 5px;
                    overflow: hidden;
                }
            }
        }
    }
}
.dropdown:hover{
    .nft-detail .nft-info .bottom{
        bottom: 0;
    }
}

.Cert-content{
    width: calc(100% - 400px);
    padding-block: 40px;
    border-left: 1px solid #D8D8D8;
    ul{
        padding-inline: 40px;
        display: flex;
        color: #666666;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        li{
            margin-right: 50px;
            cursor: pointer;
        }
        .active{
            color: #000;
        }
    }
    .nfts{
        padding: 43px 20px 50px;
        height: 920px;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari 和 Opera */
        }
        .nodata{
            width: 100%;
            height: 480px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                // display: none;
                font-size: 80px;
                font-weight: 900;
                color: rgba($color: #7a7e86, $alpha: 0.1);
                line-height: 120px;
                user-select: none;
            }
            button{
                width: 176px;
                height: 44px;
                margin-top: 20px;
                border-radius: 10px;
                border-color: #000;
                box-shadow: none;
            }
        }
        .scroll{
            width: 1243px;
            padding-inline: 20px;
            // margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
        }
        .loading{
            width: 100%;
            padding-block: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                margin-inline: 15px;
            }
        }
        .nft-detail{
            width: 282px;
            border-radius: 20px;
            
            overflow: hidden;
            box-shadow: 0 4px 10px 1px #999;
            &:hover{
                .nft-info .bottom{
                    bottom: 0;
                }
            }
            .img{
                width: 100%;
                height: 270px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .nft-info{
                width: 100%;
                height: 100px;
                background-color: #fff;
                position: relative;
                .nft-title{
                    width: 100%;
                    height: 60px;
                    padding: 14px 21px 0 12px;
                    color: #17151C;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    white-space: nowrap;  
                    text-overflow:ellipsis; 
                    overflow:hidden;
                }
                .bottom{
                    width: 100%;
                    height: 36px;
                    position: absolute;
                    bottom: -36px;
                    color: #fff;
                    background-color: #495FEA;

                    transition: bottom 0.2s;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        width: calc(100% - 60px);
                        text-align: center;
                    }
                    .more{
                        width: 60px;
                        height: 100%;
                        border-left: 1px solid #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .icon{
                            font-size: 20px;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
    }
}