.Challenge{
    width: 1380px;
    margin: 80px auto 0;
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    .preview-head{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        line-height: 29px;
        .btns{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
        }
        button{
            min-width: 100px;
            height: 40px;
            margin-left: 20px;
            border-radius: 0;
            border-color: #000;
            font-size: 16px;
            line-height: 23px;
            
        }
        .btn-exit{
            border: none;
            box-shadow: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            .icon{
                font-size: 24px;
            }
        }
    }
    .title{
        display: flex;
        align-items: center;
        color: #767676;
        font-size: 24px;
        font-weight: 900;
        span{
            font-size: 27px;
        }
        p{
            margin-left: 30px;
            line-height: 35px;
        }
    }
    .content{
        // height: 600px;
        height: calc(100vh - 390px);
        // min-height: 600px;
        padding: 25px 65px 70px;
        box-sizing: content-box;
        overflow-y: scroll;
        margin-top: 15px;
        border: 2px solid #DCDCDC;
        h4{
            margin-bottom: 20px;
            color: #BFBFBF;
            font-size: 28px;
            font-weight: 900;
            line-height: 41px;
        }
        .inner-title{
            font-size: 30px;
            font-weight: 500;
            line-height: 52px;
        }
    }
    .progress{
        width: 100%;
        margin: 0 auto;
        line-height: 0;
        .ant-progress{
            line-height: 0;
        }
        .ant-progress-bg{
            height: 11px !important;
        }
        .ant-progress-inner{
            background-color: #969696;
        }
    }
}