.Challenge{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 140px;
    position: relative;
    background-color: #F9F9F9;
    .preview-head{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        line-height: 29px;
        .btns{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
        }
        button{
            min-width: 100px;
            height: 40px;
            margin-left: 20px;
            border-radius: 0;
            border-color: #000;
            font-size: 16px;
            line-height: 23px;
            
        }
        .btn-exit{
            border: none;
            box-shadow: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            .icon{
                font-size: 24px;
            }
        }
    }
    .quest-title{
        width: 100%;
        padding-top: 82px;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        .title{
            width: 1380px;
            height: 50px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            color: #111111;
            font-size: 18px;

            span{
                font-size: 17px;
            }
            a{
                color: #111111;
            }
            p{
                width: 900px;
                margin-left: 20px;
                line-height: 21px;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
            }
        }
    }
    .content{
        width: 1380px;
        height: calc(100vh - 250px);
        margin: 0 auto;
        box-sizing: content-box;
        background-color: #fff;
        position: relative;
        .challenge-title{
            // width: 50%;
            padding: 30px 50px 10px;
            margin-bottom: 15px;
            color: #666666;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            border-bottom: 1px solid #F4F4F4;
            display: flex;
            align-items: center;
            strong{
                width: 80%;
                margin-left: 17px;
                font-size: 20px;
                font-weight: 500;
                color: #262626;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
                display: inline-block;
            }
        }
        .inner-title{
            font-size: 16px;
            color: #262626;
            line-height: 19px;
        }
    }
    .progress{
        width: 100%;
        margin: 0 auto;
        line-height: 0;
        position: fixed;
        bottom: 82px;
        left: 0;
        .ant-progress{
            margin: 0;
            line-height: 0;
        }
        .ant-progress-bg{
            height: 5px !important;
            background-color: #8F5A35;
        }
        .ant-progress-inner{
            background-color: #F9F9F9;
        }
    }
}