.main {
    // width: 1920px;
    background-color: #000;
    margin: 0 auto;
    .main-center {
      min-height: 1025px;
      background: #fff;
      padding-top: 220px;
      // describe
      .describe {
        text-align: center;
        font-size: 130px;
        line-height: 152px;
        letter-spacing: 4px;
        color: #8B522A;
        font-weight: 600;
        -webkit-text-stroke: 4px #8B522A;
      }
      h1{
        margin-bottom: 34px;
      }

      // text
      .text {
        text-align: center;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 1px;
        color: #777777;
      }
      
      .social{
        width: 193px;
        height: 66px;
        margin: 65px auto 0;
        display: flex;
        justify-content: space-between;
        .social-item{
          width: 66px;
          height: 66px;
          border-radius: 15px;
          background-color: #eee8df;
          font-size: 34px;
          color: #B99464;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }

      .listImg{
        width: 877px;
        height: 450px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: #000000;
        position: relative;
      }

      .vision{
        width: 100%;
        height: 600px;
        margin-top: -70px;
        padding-top: 210px;
        background-color: #C19E6D;
        text-align: center;
        color: #FFFFFF;
        h3{
          margin-bottom: 42px;
          font-size: 68px;
          font-weight: bold;
          line-height: 80px;
        }
        p{
          font-size: 26px;
          line-height: 40px;
        }
        span{
          padding: 0 5px;
          font-size: 30px;
          font-weight: bold;
          color: #B99464;
          display: inline-block;
          border-radius: 6px;
          background-color: #fff;
        }
      }

      .intro{
        position: relative;
        overflow: hidden;
        .intro-content{
          width: 1440px;
          height: 998px;
          margin: 0 auto;
          background-color: #fff;
          h2{
            font-size: 68px;
            font-weight: bold;
            color: #0A0D10;
            line-height: 80px;
            letter-spacing: 1px;

          }
        }
        .ai{
          margin-bottom: 136px;
          padding-top: 178px;
          display: flex;
          justify-content: space-between;
          .content-r{
            width: 530px;
            height: 442px;
            margin-top: 63px;
            background-color: #000;
          }
          h2{
            margin-bottom: 60px;
          }
          h3{
            margin-bottom: 17px;
            font-size: 26px;
            font-weight: bold;
            color: #333333;
            line-height: 30px;
          }
          p{
            max-width: 640px;
            font-size: 22px;
            color: #7585A2;
            line-height: 26px;

          }
          li{
            margin-bottom: 60px;
          }
        }
        .sbt{
          
          padding-top: 100px;
          display: flex;
          justify-content: space-between;
          .content-l{
            width: 600px;
            height: 600px;
            background-color: #000;
          }
          .content-r{
            padding-top: 120px;
          }
          h2{
            width: 850px;
            margin: 0;
            text-align: right;
          }
          ul{
            margin-top: 25px;
          }
          li{
            text-align: right;
            font-size: 26px;
            font-weight: bold;
            color: #383B46;
            line-height: 60px;
          }
        }
        .linear-bg{
          width: 250px;
          height: 270px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: linear-gradient(to bottom right, #fff, #fff, #B27347, #B27347, #B27347);
          opacity: 0.4;
          filter: blur(45px);
        }
      }

      // 合作伙伴
      .partner{
        width: 100%;
        height: 750px;
        padding-top: 165px;
        background-color: rgba($color: #C19E6D, $alpha: 0.1);
        p{
          margin-bottom: 92px;
          font-size: 50px;
          line-height: 59px;
          text-align: center;
        }
        ul{
          width: calc((200px * 4) + (48px * 4));
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
        }
        li{
          width: 200px;
          height: 200px;
          border-radius: 14px;
          background-color: #C19E6D;
        }
      }

      // 贡献者
      .contributor{
        width: 100%;
        height: 723px;
        padding-top: 145px;
        text-align: center;
        font-size: 50px;
        line-height: 59px;

        .ant-avatar-group{
          margin-top: 88px;
        }
        .ant-avatar{
          width: 150px;
          height: 150px;
          border-width: 6px;
          border-color: #8F5A35;
        }
        .css-dev-only-do-not-override-ixblex.ant-avatar-group >*:not(:first-child){
          margin-left: -33px;
        }
      }
    }
  }
  