.main {
    // width: 1920px;
    background-color: #000;
    margin: 0 auto;
    .main-center {
      min-height: 1025px;
      height: calc(100vh - 300px);

      background: #814cdd;
      padding-top: 150px;
      .weight-info {
        text-align: center;
        width: 1300px;
        height: 612px;
        color: #ffffff;
        margin: 0 auto;
        h3 {
          font-size: 250px;
          font-weight: 800;
          color: #ffffff;
        }
      }
      // describe
      .describe {
        width: 767px;
        height: 93px;
        margin: 0 auto;
        margin-top: -66px;
        p {
          font-size: 64px;
          font-weight: 900;
          color: #ffffff;
        }
      }
      // text
      .text {
        width: 608px;
        height: 35px;
        margin: 0 auto;
        margin-bottom: 74px;
        p {
          font-size: 24px;
          color: #ffffff;
        }
      }
  
      // challenge-btn
      .mar {
        width: 520px;
        height: 72px;
        margin: 0 auto;
        display: flex;
        .challenge-btn {
          width: 240px;
          height: 72px;
          background: #ffffff;
          border-radius: 1343px 1343px 1343px 1343px;
          opacity: 1;
          text-align: center;
          margin-right: 40px;
          .btn {
            font-size: 19px;
            color: #814cdd;
          }
        }
        .creative-btn {
          width: 240px;
          height: 72px;
          border-radius: 1343px 1343px 1343px 1343px;
          opacity: 1;
          background: #814cdd;
          border: 2px solid #ffffff;
          .creative {
            font-size: 19px;
            color: #ffffff;
          }
        }
      }
    }
  }
  