.Lesson{
    width: 1440px;
    margin: 170px auto 0;
    padding-bottom: 200px;
    position: relative;
    .custom-bg-round{
        top: -460px;
    }
    .title{
        margin-bottom: 80px;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .box{
            width: 700px;
            min-height: 450px;
            border-radius: 10px;
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #F0F0F0;
            cursor: pointer;
            .img{
                height: 316px;
            }
            .box-content{
                padding: 25px;
                .box-title{
                    margin-bottom: 5px;
                    font-size: 24px;
                    color: #000;
                    line-height: 28px;
                }
                .box-desc{
                    font-size: 16px;
                    color: #999999;
                    line-height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}