.Lesson{
    width: 1440px;
    margin: 170px auto 0;
    min-height: calc(100vh - 170px);
    padding-bottom: 200px;
    position: relative;
    .round{
        width: calc(1400px / 1920px * 100%);
        height: 400px;
        background: #B27347;
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(70px);
        position: absolute;
        top: -460px;
        left: calc((100% - (1400px / 1920px * 100%)) / 2);
    }
    .title{
        margin-bottom: 80px;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .box{
            width: 700px;
            min-height: 450px;
            border-radius: 10px;
            overflow: hidden;
            background-color: #fff;
            cursor: pointer;
            .img{
                height: 316px;
            }
            .box-content{
                padding: 25px;
                .box-title{
                    margin-bottom: 5px;
                    font-size: 24px;
                    color: #000;
                    line-height: 28px;
                }
                .box-desc{
                    font-size: 16px;
                    color: #999999;
                    line-height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}