.Publish{
    width: 1200px;
    padding-block: 105px;
    margin: 0 auto;
    .Editor-hide .bytemd-toolbar-right{
        display: none;
    }
    h3{
        margin-bottom: 42px;
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        line-height: 35px;
    }
    .inner{
        padding: 20px;
    }
    .challenge-info{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        .ant-form-item, .form-item{
            width: 50%;
            .ant-row{
                flex-flow: nowrap;
            }
            .ant-form-item-row{
                flex-direction: row;
            }
            .ant-form-item-control{
                width: 50%;
                & > .ant-form-item-control-input{
                    width: 150px;
                }
            }
        }
        .form-item{
            display: flex;    
            margin-bottom: 24px;
            .title{
                width: 120px;
            }
        }
    }
    .Publish-btns{
        width: 100%;
        height: 93px;

        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 -3px 5px 0 rgba(0,0,0,0.1);
        .btns{
            width: 1031px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .left button{
            min-width: 100px;
            height: 42px;
            padding-inline: 18px;
            border-radius: 5px;
            border-color: #3360F4;
            color: #3360F4;
            &:hover{
                color: #FF0000;
                border-color: #FF0000;
            }
        }
        .right{
            display: flex;
            button{
                min-width: 150px;
                height: 42px;
                margin-left: 22px;
                border-radius: 5px;
            }
        }
    }
}