.Question{
    width: 1205px;
    margin: 122px auto 70px;
    h1{
        margin-bottom: 22px;
        font-size: 26px;
        font-weight: 900;
        line-height: 38px;
        color: #17151C;
    }
    .content{
        display: flex;
        justify-content: space-between;
    }
    .content-right{
        width: 650px;
    }
    .title{
        font-size: 20px;
        font-weight: 900;
        color: #000000;
        // line-height: 29px;
        display: flex;
        align-items: center;
        span{
            padding: 4px 18px;
            margin-left: 24px;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            border-radius: 4px;
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
}
// content-left
.quest-title{
    .img{
        width: 500px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        // background-color: #bd9b68;
        background: url("../../images/svg/logo-bg.png") no-repeat center;
        background-size: cover;
    }
}
.quest-challenger{
    width: 500px;
    margin-top: 45px;
    .list ul{
        margin-top: 27px;
        display: flex;
        flex-wrap: wrap;
        gap: 28px 40px;
        li{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}

// content-right
.quest-info{
    li{
        margin-bottom: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &:last-child{
            margin: 0;
        }
    }
    .info-content{
        width: 500px;
        min-height: 47px;
        padding-bottom: 23px;
        border-bottom: 1px solid #D8D8D8;
        display: flex;
        align-items: center;
    }
    .img{
        width: 50px;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .mt13{
        margin-top: 13px;
    }
    .name{
        width: 400px;
        font-size: 20px;
        white-space: nowrap;  
        text-overflow:ellipsis; 
        overflow:hidden;
    }
    .desc{
        p{
            font-size: 14px;
            color: #17151C;
            line-height: 20px;
        }
        .markdown-body{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 9;
        }
    }
    .reward{
        font-size: 14px;
        color: #3D3D3D;
        line-height: 20px;
    }
    .ant-rate li{
        margin-bottom: 0;
        .anticon-star{
            font-size: 18px;
        }
    }
    .time{
        font-size: 16px;
        color: #585858;
        line-height: 23px;

    }
    .recommend{
        width: 500px;
        height: 140px;
        background-color: #FAFAFA;
        .markdown-body{
            padding: 12px 16px;
        }
    }
    .submit{
        width: 100%;
        height: 60px;
        border: none;
        box-shadow: none;
        background-color: #000000;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}
.info-top{
    min-height: calc(500px - 13px - 40px + 45px);
    margin-top: 13px;
    overflow: hidden;
    margin-bottom: 40px;
}
.info-bottom{
    li{
        margin-bottom: 35px;
    }
}