.UserEdit{
    width: 850px;
    margin: 0 auto;
    padding-top: 93px;
}
.UserEdit-inner{
    height: 590px;
    border-radius: 24px;
    border: 1px solid #E5E5E5;
    .title{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #E5E5E5;
        font-size: 30px;
        font-weight: 500;
        line-height: 25px;
    }
    .content{
        padding: 44px 32px 60px 48px;
        .avatar{
            .img{
                width: 76px;
                height: 76px;
                margin-left: 12px;
                border: 2px solid #EEEEEE;
                border-radius: 50%;
                overflow: hidden;
            }
            .btn{
                height: 28px;
                margin-top: 14px;
                padding-inline: 26px;
                color: #6C6C6C;
                font-size: 12px;
                // font-weight: 300;
                border-radius: 24px;
            }
        }
        .inner{
            margin-top: 20px;
            .label{
                margin-bottom: 18px;
                font-size: 12px;
                color: #222222;
                line-height: 17px;
            }
            .input{
                height: 40px;
                padding-inline: 23px;
                border-radius: 20px;
            }
            input{
                font-size: 16px;
                line-height: 24px;
            }
            .textarea{
            }
            textarea{
                padding: 17px 32px;
                border-radius: 20px;
                position: relative;
                
            }
            .ant-input-textarea-show-count::after{
                position: absolute;
                right: 12px;
                bottom: 5px;
            }
        }
    }
}
.UserEdit-btns{
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
    .btn{
        height: 42px;
        margin-right: 22px;
        padding-inline: 30px;

        font-weight: 500;
        line-height: 20px;
        border-radius: 21px;
        &:last-child{
            margin: 0;
        }
    }
    .cancel{
        border: 1px solid #000000;
        color: #000000;
    }
    .save{
        border: none;
        box-shadow: none;
        background: #E5E5E5;
        color: #565662;
    }
}