.CustomInput{
    color: #343434;
    border-bottom: 1px solid #000;

    .custom-input{
        max-width: 940px;
        margin-top: 100px;
        padding: 0;
        border-radius: 0;
        font-size: 30px;
    }
}

.CustomRadio{
    .ant-radio-group{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .ant-radio-wrapper{
        margin-bottom: 30px;
        align-items: center;
        font-size: 20px;
        color: #373737;
        line-height: 43px;
        .ant-radio{
            margin-right: 35px;
        }
        .ant-radio-inner{
            width: 35px;
            height: 35px;
            &::after{
                content: none;
            }
        }
    }
}

.CustomCheckbox{
    .custom-checkbox{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .ant-checkbox-inner::after{
        content: none;
    }
    .ant-checkbox-wrapper{
        margin: 0;
        margin-inline-start: 0 !important;
        margin-bottom: 30px;
        align-items: center;
        font-size: 20px;
        color: #373737;
        line-height: 43px;
        .ant-checkbox{
            margin-right: 35px;
        }
        .ant-checkbox, .ant-checkbox-inner{
            width: 35px;
            height: 35px;
        }  
        .ant-checkbox-checked .ant-checkbox-inner{
            background-color: #000;   
            border: none;
        }
        .ant-checkbox-inner::after{
            content: none;
        }
    }
    // .ant-checkbox-checked .ant-checkbox-inner{
    //     background-color: #000;
    // }
}

.CustomCode{
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    .code-desc, .code-out{
        width: 49.5%;
        padding: 0 20px;
        background-color: #fff;
    }
}