.CustomInput{
    padding: 0 50px;
    color: #343434;
    .custom-input{
        margin-top: 100px;
        padding: 10px;
        border-radius: 0;
        font-size: 16px;
        border: 1px solid #DCDCDC !important;
        border-radius: 10px;
    }
}

.CustomRadio{
    padding: 0 50px;
    .ant-radio-group{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .ant-radio-wrapper{
        margin-bottom: 40px;
        align-items: center;
        font-size: 20px;
        color: #373737;
        line-height: 43px;
        .ant-radio{
            margin-right: 15px;
        }
        .ant-radio-checked .ant-radio-inner{
            background-color: #8F5A35;
            border: none;
        }
        .ant-radio-inner{
            width: 35px;
            height: 35px;
            &::after{
                content: none;
            }
        }
    }
}

.CustomCheckbox{
    padding: 0 50px;
    .custom-checkbox{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .ant-checkbox-inner::after{
        content: none;
    }
    .ant-checkbox-wrapper-checked:hover .ant-checkbox-checked .ant-checkbox-inner {
        background-color: rgba($color: #8F5A35, $alpha: 0.8) !important;
    }
    .css-dev-only-do-not-override-ixblex.ant-checkbox-checked .ant-checkbox-inner{
        border-color: #8F5A35 !important;
    }
    .ant-checkbox-wrapper{
        margin: 0;
        margin-inline-start: 0 !important;
        margin-bottom: 40px;
        align-items: center;
        font-size: 20px;
        color: #373737;
        line-height: 43px;
        .ant-checkbox{
            margin-right: 15px;
        }
        .ant-checkbox, .ant-checkbox-inner{
            width: 30px;
            height: 30px;
        }  
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #8F5A35;
        }
        .ant-checkbox-inner::after{
            content: none;
        }
    }
}

.CustomCode{
    height: calc(100% - 61px);
    display: flex;
    justify-content: space-between;
    &::after{
        content: "";
        width: 2px;
        height: 100%;
        border-left: 2px solid #DCDCDC;
        position: absolute;
        top: 0;
        left: calc((100% - 2px) / 2);
    }
    .code-desc, .code-out{
        width: 50%;
    }
    .code-title{
        // margin-bottom: 34px;
        font-size: 28px;
        font-weight: 500;
        color: #343434;
        line-height: 52px;
        // border-bottom: 2px solid ;
    }
    .line{
        width: 100%;
        height: 2px;
        margin-top: 20px;
        background-color: #DCDCDC;
    }
    .code-content{
        height: calc(100% - 54px - 34px - 20px);
        margin-top: 34px;
    }
    .code-desc{
        height: calc(100% + 70px);
        padding-bottom: 10px;
    }
    .code-out{
        height: calc(100% + 61px + 70px);
        margin-top: -61px;
        padding: 0;
        padding-bottom: 10px;
        position: relative;
        .code-menu{
            width: 100%;
            position: absolute;
            top: -32px;
            left: 0;
            display: flex;
            justify-content: space-between;
        }
    }
    .out-inner{
        width: calc(100% + 65px);
        height: calc(100% - 230px);
    }
    .out-content{
        width: calc(100% + 65px);
        border-top: 2px solid #DCDCDC;
    }
    .CustomConsole{
        .tab ul{
            height: 36px;
            display: flex;
            background-color: #f7f7f7;
            li{
                padding: 11px;
                cursor: pointer;
            }
            .active{
                background-color: #fff;
            }
        }
        .console, .case{
            height: 120px;
            margin: 20px;
            textarea{
                height: 100%;
                min-height: 120px;
            }
        }
        .none{
            display: none;
        }
    }
    .btns{
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        .ant-dropdown-trigger{
            line-height: 32px;
        }
    }
}

.example-dropdown{
    strong{
        font-size: 12px;
        font-weight: 500;
        color: #3D3D3D;
        line-height: 17px;
    }
    .example{
        font-size: 12px;
        color: #666666;
        line-height: 17px;
    }
}