.Claim{
    .claim-loading{
        margin: 200px auto 0;
        min-height: calc(100vh - 300px);
        text-align: center;
    }
}
.Claim{

.CustomCompleted{
    .completed-content{
        width: 956px;
        margin: 0 auto;
        margin-block: 100px;
    }
    .desc{
        .title{
            color: #000;
            font-size: 40px;
            font-weight: 500;
            line-height: 58px;
        }
    }
    .score{
        margin-top: 100px;
        display: flex;
        .circle {
            user-select: none;
            .ant-progress-text{
                font-size: 80px;
                font-weight: 500;
                line-height: 116px;
            }
        }
        .info{
            margin-left: 125px;
            .network{
                max-width: calc(956px - 125px - 230px);
                margin-bottom: 16px;
                font-size: 30px;
                font-weight: 500;
                line-height: 43px;
                white-space: nowrap;  
                text-overflow:ellipsis; 
                overflow:hidden;
            }
            .pass{
                font-size: 18px;
                color: #9E9E9E;
                line-height: 26px;
                font-weight: 500;
            }
        }
        
    }
    .btn{
        height: 40px;
        margin-top: 80px;
        padding-inline: 32px;
        background: #8C51DF;
        border-radius: 6px;
        border: none;
        box-shadow: none;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        line-height: 26px;
    }
    .viewer{
        margin-top: 100px;
        .viewer-head{
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
        }
        .ant-divider{
            margin: 10px 0 15px;
            border-top: 2px solid #E8E8E8;
        }
        .viewer-content{
            min-height: 500px;
            padding: 0 20px;
            font-size: 16px;
            line-height: 23px;
        }
    }
    .content-step{
        display: flex;
        justify-content: space-between;
        h5{
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            color: #212429;
            line-height: 35px;
        }
        .nft{
            width: 350px;
            img{
                width: 100%;
                height: 350px;
            }
            .img{
                margin-top: 30px;
                position: relative;
                .icon{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    right: 13px;
                    top: 13px;
                    background-color: #69E6F9;
                }
            }
        }
        .step{
            width: 580px;
            .step-detail{
                margin-top: 75px;
            }
        }
    }
}

.step-box{
    width: 550px;
    height: 64px;
    border: 1px solid #8C52DF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8C52DF;
    border-radius: 32px;

    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.checked-step{
    background-color: #8C52DF;
    color: #fff;
    .box{
        background-color: #8C52DF;
        border: none;
    }
    .box .claim{
        background-color: #8C52DF;
        color: #fff;
        .anticon-twitter{
            color: #fff !important;
        }
    }
}

.position{
   position: relative;
   .tips{
        position: absolute;
        right: -70px;
        bottom: 7px;
        color: #999999;
        font-size: 50px;
        font-weight: 400;
   }
   
}

.innerHref{
    margin-left: 24px;
    padding-inline: 12px 10px;
    justify-content: space-between;
    font-weight: 500;
    input{
        width: 384px;
        height: 50px;
        border-radius: 25px;
        border-start-end-radius: 25px;
        border-end-end-radius: 25px;
        border: 1px solid #8C52DF;
        color: #8C52DF;
        font-size: 20px;
        line-height: 29px;
    }
    button{
        width: 112px;
        height: 50px;
        color: #8C52DF;
        font-size: 16px;
        line-height: 23px;
    }
}

.CustomBox{
    padding-inline: 41px 14px;
    justify-content: space-between;
    button{
        height: 48px;
        padding-inline: 26px;
        border-radius: 24px;
        border: none;
        box-shadow: none;
        color: #8C52DF;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
    }
    .discord-box{
        margin-right: 18px;
    }
}

.CustomDiscord{
    padding-inline: 41px 14px;
    justify-content: space-between;
}

.CustomCliam{
    padding: 0;
    background-color: #ffffff00;
    border: none;
    .box{
        width: 227px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff00;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        p{
            width: 57px;
        }
        .share{
            padding-inline: 13px 22px;
        }
        button{
            width: 100%;
            height: 48px;
            border-radius: 24px;
            font-size: 16px;
            border: 1px solid #8C52DF;
            
        }
        .claim .anticon-twitter{
            color: #0495d7;
        }
    }
}
.isClaim{
    // background-color: #8C52DF;
    justify-content: center;
    color: #8C52DF;
    border: 1px solid #8C52DF;
}
}
.tooltip{
    max-width: 290px !important;
}
.tip-content{
    width: 100%;
    padding-inline: 23px;
    padding-block: 8px 27px;
    color: #17151C;
    line-height: 20px;
    .step{
        color: #9E9E9E;
    }
    span{
        color: #727272;
    }
}