.message-share{
    width: 450px !important;
    height: 214px;
    margin: 100px auto 0;
    padding: 0;
    .ant-message-notice-content{
        // height: 200px;
        padding: 20px 30px;
        background-color: #D8D8D8;
        border-radius: 20px;

        font-size: 24px;
        font-weight: 500;
        line-height: 52px;

        h4{
            font-size: 36px;
        }
    }
}