.ModalAnswers{
    .ant-modal-content{
        min-height: 725px;
        padding-inline: 26px !important;
        border-radius: 20px !important;
        // text-align: center;
        position: relative !important;
    }
    .ant-modal-close{
        width: 33px;
        height: 33px;
    }
    h5{
        margin: 24px 20px 30px;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    .success{
        background-color: rgba(67,180,114,0.2);
        color: #43B472;
    }
    .normal{
        background-color: rgba(0,0,0,0.1);
    }
    .error{
        background-color: rgba(197,79,79,0.2);
        color: #C54F4F;
    }
    .fc-success{
        color: #43B472;
    }
    .fc-normal{
        color: #9E9E9E;
    }
    .fc-error{
        color: #FF0000;
    }
    .tips{
        .point{
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 50%;
        }
        li{
            margin-right: 72px;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
        }
    }
    .box{
        height: 517px;
        margin-top: 45px;
        background-color: #F9F9F9;
        border-radius: 20px;
        overflow-x: hidden;
    }
    .answers{
        width: 935px;
        padding: 50px 70px;
        gap: 35px 32px;
        .point{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
        }
    }
    .submit{
        width: 330px;
        height: 60px;
        position: absolute;
        left: calc((100% - 330px) / 2);
        bottom: 23px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        background-color: #8F5A35;
    }
}
.ModalAnswers-mobile{
    .ant-modal-content{
        min-height: 480px;
        padding: 30px 15px 0 15px !important;
        border-radius: 13px !important;
    }
    .ant-modal-close{
        width: 12px;
        height: 12px;
    }
    h5{
        margin: 0 10px 0;
        font-size: 14px;
        line-height: 16px;
    }
    .box{
        height: 340px;
        margin-top: 18px;
        border-radius: 13px;
    }
    .answers{
        width: 100%;
        padding: 30px 34px;
        gap: 24px 22px;
        .point{
            width: 33px;
            height: 33px;
            font-size: 12px;
            line-height: 33px;
        }
    }
    .submit{
        width: 217px;
        height: 40px;
        left: calc((100% - 217px) / 2);
        bottom: 15px;
        font-size: 12px;
    }
}