
.ModalAddQuestion{
    .code-snippets{
        height: 200px;
        padding: 20px;
        border-bottom: none;
        box-sizing: border-box;
        section{
            height: 100% !important; 
        }
    }
    .border-b{
        padding-bottom: 2px;
        border: 1px solid #eaeefb;
    }
    .CodeMirror-lines{
        max-width: 100% !important;
    }
    // form style
    
}