
.ModalAddQuestion{
    .code-snippets{
        height: 200px;
        padding: 20px;
        border: 1px solid #eaeefb;
        box-sizing: border-box;
        section{
            height: 100% !important; 
        }
    }
}