.ModalAnswers{
    .ant-modal-content{
        min-height: 560px;
        padding-inline: 60px !important;
        border-radius: 0 !important;
        text-align: center;
        position: relative !important;
    }
    .ant-modal-close{
        width: 33px;
        height: 33px;
    }
    h5{
        margin-top: 30px;
        font-size: 36px;
        font-weight: 500;
        color: #343434;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    .success{
        background-color: #67DF46;
    }
    .normal{
        background-color: #D8D8D8;
    }
    .tips{
        .point{
            width: 24px;
            height: 24px;
            margin-right: 15px;
            border-radius: 50%;
        }
        li{
            margin-right: 72px;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: #9E9E9E;
            line-height: 21px;
        }
    }
    .answers{
        margin-top: 45px;
        height: 210px;
        overflow-y: scroll;
        .point{
            width: 40px;
            height: 40px;
            margin-bottom: 15px;
            margin-right: 55px;
            border-radius: 50%;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:nth-child(8n){
                margin-right: 0;
            }
        }
    }
    .submit{
        width: 240px;
        height: 40px;
        position: absolute;
        left: calc((100% - 240px) / 2);
        bottom: 40px;
        color: white;
        font-size: 24px;
        font-weight: 500;
        border: none;
        background-color: #000000;
    }
}

.mobile-ModalAnswers{
    .ant-modal-content{
        min-height: 400px;
        padding-inline: 17px !important;
    }
    .ant-modal-close{
        width: 20px;
        height: 20px;
        .anticon-close-square{
            font-size: 20px !important;
        }
    }
    h5{
        margin-top: 10px;
        font-size: 20px;
    }
    .tips{
        .point{
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        li{
            margin-right: 20px;
            font-size: 12px;
            line-height: 17px;
        }
    }
    .answers{
        margin-top: 30px;
        height: 160px;
        overflow-y: scroll;
        .point{
            width: 30px;
            height: 30px;
            margin-bottom: 18px;
            margin-right: 38px;
            font-size: 14px;
            &:nth-child(8n){
                margin-right: 38px;
            }
            &:nth-child(5n){
                margin-right: 0px;
            }
        }
    }
    .submit{
        width: 140px;
        height: 30px;
        left: calc((100% - 140px) / 2);
        bottom: 30px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 3px;
    }
}